<div class="p-0">
    <ul class="space-y-1 p-1">
        <li>
          <button (click)="selectRole('Product Designer')" class="w-full text-center p-2">Product Designer</button>
        </li>
        <li>
          <button (click)="selectRole('Flutter Developer')" class="w-full text-center p-2 border-t border-gray-100">Flutter Developer</button>
        </li>
        <li>
          <button (click)="selectRole('QA Tester')" class="w-full text-center p-2 border-t border-gray-100">QA Tester</button>
        </li>
        <li>
          <button (click)="selectRole('Product Owner')" class="w-full text-center p-2 border-t border-gray-100">Product Owner</button>
        </li>
      </ul>
</div>
